<%= form_for(@bet) do |f| %>
  <% if @bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% @bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :round_id %><br>
    <%= f.number_field :round_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br>
    <%= f.number_field :player_id %>
  </div>
  <div class="field">
    <%= f.label :amount_betted %><br>
    <%= f.text_field :amount_betted %>
  </div>
  <div class="field">
    <%= f.label :roulette_choice %><br>
    <%= f.number_field :roulette_choice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
